body {
	padding: 0;
	margin: 0;
}

h1 span {
	color: #ffaa00;
}

h1 span:first-child {
	color: #0099cc;
}

h1 span:last-child {
	color: #00cc99;
}

header {
	font-family: "Comic Sans MS", "sans serif";
	padding: 0 50px 0 50px;
	background: #f3f3f3;
	background-image: linear-gradient(#f9f9f9, #f3f3f3);
	background-repeat: repeat-x;
}

header h1:hover, header small:hover {
	cursor: default;
}

header h1 {
	margin: 10px 0 10px 20px;
	display: inline-block;
}

header small {
	color: #777;
	margin-left: 10px;
}

#toolbar {
  	border-top: 1px solid #ccc;
  	margin: 0;
  	padding: 10px 0 0 50px;
}

button {
	font-family: "Comic Sans MS", "sans serif";
	border-radius: 3px;
	border: none;
	padding: 5px 8px;
	color: #777;
	background-color: #f3f3f3;
	border: 1px solid #fff;
}

button:hover {
	cursor: pointer;
	background-color: #fff;
	color: #777;
	border: 1px solid #f3f3f3;
}

#fileInput {
	display: none;
}

#miu {
	display: block;
	padding-top: 10px;
}

#editor {
	font-family: "Source Code Pro", Consolas;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	width: 45%;
	margin: 0 2% 0 2.5%;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	position: fixed;
}

#preview blockquote {
	border-left: 4px solid #DDD;
	padding: 0 15px;
	color: #777;
}

#preview pre {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  line-height: 18px;
  margin-bottom: 16px;
}

.postContent pre, .postContent code {
  font-family: "Source Code Pro", Consolas, sans-serif;
  background-color: #f8f8f8;
  font-size: 13px;
  overflow: auto;
}

#preview a {
	color: #4183c4;
}

#preview {
	font-size: 13px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	width: 40%;
	margin-right: 8%;
	float: right;
	overflow: hidden;
	word-wrap: break-word;
}

footer {
	position: fixed;
	background-color: #f3f3f3;
	height: 20px;
	width: 100%;
	bottom: 0;
}

footer p {
	margin: 0;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #0099cc;
}

footer a:hover {
	color: #cc9900;
}